@charset "utf-8";
/* CSS Document */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  color: #2E2F3E;
}


/*CSS Grid*/

.parent {
display: grid;
grid-template-columns: 75px 1fr 1fr;
grid-template-rows:  75px  65px 3fr 2fr 1fr 2fr 2fr;
grid-template-rows:  75px minmax();	
grid-column-gap: 0px;
grid-row-gap: 0px;
height: 1700px;	
} 

header {
  grid-column-start: 1;
  grid-column-end: 4;
}

.dash {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;		
}

.graph {
  grid-column-start: 2;
  grid-column-end: 2;	
}

.stats{
  grid-column-start: 2;
  grid-column-end: 4;	
}

.sidebar {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: -1;	
}

/*Header Styling*/

header{
	background: #14151F;
}


.appName {
	color: #FFF;
	font-size:1.5rem;
	max-width: 150px;
	text-align: left;
	margin: 20px 0 20px 20px;
	float: left;	
}

.bellDiv {
	width: 300px;
	float: right;
	color: #FFF;
	font-size:1.5rem;
	text-align: right;
	margin: 20px 0 20px 20px;	
}

.bell {
	height: 30px;
	padding-right: 15px;
	border-right: solid 2px #FFF;	
}

.profileImg {
	border-radius: 50%;
	padding-left: 15px;
	height: 35px;
}

.name {
	color: #FFF;
	font-size:.8rem;
	text-align: right;
	width: 100px;
	float: right;
	margin-top: 13px;
	font-weight: 600;
}


/*Sidebar Styling*/

.sidebar{
	background: #14151F;
}

.sidebarIcons {
	height: 59px;
	margin: 0 25px;
	padding-bottom: 30px;
}

/*Dashboard Styling*/

.search p {
	background: #FFF;
	height: 4rem;
	width: 10rem;
	text-align: center;
	padding: 22px;
	font-weight: 500;	
	float: left;	
}

.search {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;	
  background: #DDD;
  height: 4rem;	
}

.search input {
	text-align: center;
	padding: 22px;
	font-weight: 500;	
	float: right;
	margin-left: auto;
	margin-right: 20px;	
	width: 400px;
	height: 50%;
	font-size: 1rem;	
	display: inline-block;	
	padding: 5px;	
	margin-top: 16px;
	margin-bottom: 16px;
}

.alert {
	background: #03A9F4;
	width: 95%;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 5px;
	color: #FFF;
	padding: 5px;
	padding: 10px;
	height: 40px;	
}

.close {
	display: inline;
	float: right;
	margin-top: -16px;	
}




