@charset "utf-8";
/* CSS Document */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/*CSS Grid*/

.parent {
display: grid;
grid-template-columns: 75px 1fr 1fr;
grid-template-rows:  75px 3fr 2fr 1fr 2fr 2fr;
grid-template-rows:  75px minmax();	
grid-column-gap: 0px;
grid-row-gap: 0px;
height: 1700px;	
} 

header {
  grid-column-start: 1;
  grid-column-end: 4;
}

.dash {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;		
}

.graph {
  grid-column-start: 2;
  grid-column-end: 2;	
}

.stats{
  grid-column-start: 2;
  grid-column-end: 4;	
}

.sidebar {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: -1;	
}